:root{
    --primary-font: font-family: 'Roboto', sans-serif;
    --secondary-font:'Viaoda Libre', cursive;  
    --primary-color:  whitesmoke;
    --secondary-color: #ba324f; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    background-color: #212529;
}

.main-header {
    position: sticky;
    padding: 3.0rem 3.5rem;
    display: flex;   
    align-items: center;
    justify-content: flex-end;    
}

a{
    color: var(--secondary-color);
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
  }

.header-links{
    display: flex;
    justify-content: space-evenly;
    font-size: var(--primary-font);
    width: 50%;
    font-size: 20px;    
}

h1{
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bolder;
}
 
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    background-color: #212529;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;
}

.about-intro{
    font-size: 20px;    
}

.about-me h1{
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: var(--secondary-color);
}

.about-me img{
    background-color: linen;
    border-radius: 50%;
    box-shadow: 15px 5px 5px var(--secondary-color);
}

#skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--primary-color);    
}

#skills img{
    width: 150px;
    justify-content: space-evenly;    
}

.skill-icons{
    display: flex;    
    flex-wrap: wrap;
    width: 33.3vw;
    justify-content: space-between;
    padding-top: 3.0rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 10px 10px 10px var(--secondary-color);
    padding: 20px;
    margin: 10px;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.0rem;
    color: var(--primary-color);
}

.projects {    
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 300px;
    height: 200px;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }

  .project-link{
    font-weight: bolder;
  }  
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 10px 3px 10px var(--secondary-color);
    padding: 20px;
    margin: 10px;
    height: 60vh;
  }