:root{
    --primary-font: font-family: 'Roboto', sans-serif;
    --secondary-font:'Viaoda Libre', cursive;  
    --primary-color:  whitesmoke;
    --secondary-color: #ba324f; 
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
     background-color: var(--primary-color);
}

.navbar a{
    color: var(--secondary-color);
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: linen;
    border-radius: 30px;
    border: 1px solid var(--secondary-color);
  }

  .navbar h1{
    font-family: var(--secondary-font);
    border-radius: 50%;
    background-color: linen;
    font-size: 60px;
  }

.header-links{
    font-family: var(--primary-font);
    font-size: 20px;    
}

h1{
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: bolder;
}
 
#about{
    background-color: #212529;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 20px;
}

.about-intro{
    font-size: 30px;    
}

.about-me-name-section h1{
    font-family: var(--secondary-font);
    font-weight: bolder;
    color: var(--secondary-color);
}

.about-me img{
    background-color: linen;
    border-radius: 50%;
    box-shadow: 15px 5px 5px var(--secondary-color);
    width: 300px;
    height: 300px;
}

p{
    font-size: 20px;
}


#skills h1{
    color: var(--secondary-color);  
    background-image: linear-gradient(var(--primary-color), #fff);
}

#skills img{
    width: 150px;
    justify-content: space-evenly;    
}

.skill-icons{
   padding-top: 2.0rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 10px 10px 10px var(--secondary-color);
    padding: 10px;
    margin: 10px;
}

#projects{
    padding-top: 3.0rem;
    color: var(--primary-color);
}

.projects {    
    padding: 32px 0;
    margin-top: 2.0rem;
  }
  
  .project-pic {
    width: 300px;
    height: 200px;
  }
  
  .projects-container {
       color: black;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 2.0rem;
    background-image: linear-gradient(var(--primary-color), #fff);
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }

  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }

  .project-link{
    font-weight: bolder;
  }  
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 10px 3px 10px var(--secondary-color);
    padding: 20px;
    margin: 30px;
  }

  footer{
    background-image: linear-gradient(var(--primary-color), #fff);
  }